
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 125.5%;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #f2e21d;
}
.Singup {
    background-color: #17e7d1;
    max-width: 20rem;
    margin: 10rem auto;
    padding: 2.4rem 1.8rem;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;

}

input {
    width: 100%;
    padding: 0.25rem;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid #777;
    margin-bottom: -2rem;
}

label {
    display: inline-block;
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 0.5rem;
}
button{
    position: absolute;
    right: 35rem;  /* Cách cạnh phải 20px */
    top: 23rem;    /* Cách cạnh trên 20px */
    padding: 5px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}